* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background: white;
    padding: 20px;

}

header h1 {
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon {
    display: none;
}

div>p {
    color: violet;
}

.scores {
    margin: 20px auto;
    color: white;
    width: 200px;
    border-radius: 4px;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
    font-family: Asap Condensed, sans-serif;
    position: relative;

}

.badge {

    color: white;
    font-size: 30px;
    padding: 2px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -35px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -40px;
}

.result {
    font-size: 40px;
    color: white;
}

.result>p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    padding: 10px;
}

.choices {
    margin-top: 20px;
    text-align: center;

}

.choice {
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    padding: 2px;
    transition: all 0.5s ease;
}

.choice:hover {
    cursor: pointer;
    background: violet;
}

.rulesBtn,#easy,#medium,#hard{
    background: violet;
    padding :1em 2em;
    color: white;
    border: 0;
    margin: 5px;
}
.rulesBtn:hover{
    background: darkviolet;
}
#easy:hover{
    background: darkviolet;
}
#medium:hover{
    background: darkviolet;
}
#hard:hover{
    background: darkviolet;
}

.rules{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.rulesContent{
    background-color: black;
    margin: 30% auto;
    padding: 20px;
    width: 20%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.39), 0 7px 20px 0 rgba(0, 0, 0, 0.397);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.closeBtn{
    color: violet;
    float: right;
    font-size: larger;
    font-size: 30px;
    font-weight: bolder;
}
.closeBtn:hover,.closebtn:focus{
    color: darkviolet;
    text-decoration: none;
    cursor: pointer;
}
#rulesHeader {
    color: violet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}

#buttonPosition{
    display: flex;
    justify-content: center;
}

#timer{
    color: violet;
    position: absolute;
    left:40%;
    top: 75px;
    margin: 5px;
    padding: 2px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width: 900px) {
    #timer{
        position: absolute;
        left: 28%;
        top:75px;
    }
}
@media only screen and (max-width: 644px){
    #timer{
        position: absolute;
        left: 28%;
        top:115px;
        font-size: 30px;
    }
} 

@media only screen and (max-width: 500px) {
    header {
        padding: 5px;
    }

    header h1 {
        display: none;
    }

    .icon {
        display: flex;
        justify-content: space-between;
        font-size: 30px;
    }

    img {
        height: 120px;
        width: 120px;
    }
    .rulesContent{
    width: 50%;
    }
    #timer{
        position: absolute;
        left: 34%;
        top:45px;
        font-size: 20px;
    }
}