* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background: white;
    padding: 20px;

}

header h1 {
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div>p {
    color: violet;
}

.scores {
    margin: 20px auto;
    color: white;
    width: 200px;
    border-radius: 4px;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
    font-family: Asap Condensed, sans-serif;
    position: relative;

}

.badge {
    background-color: violet;
    color: white;
    font-size: 24px;
    padding: 2px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -35px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -40px;
}

.result {
    font-size: 40px;
    color: white;
}

.result>p {
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.choices {
    margin-top: 20px;
    text-align: center;

}

.choice {
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    padding: 2px;
    transition: all 1.5s ease;
}

.choice:hover {
    cursor: pointer;
    background: violet;
}

#action-message {
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}